page-descobrir-perfil {
    #rounded {
        white-space: normal;
        width: 90%;
        height: 180px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 30px;
        margin-left: 0 auto;  
        margin-right: 20px;
    }
}
