page-conta-existente {
    .masters {
        background-color:  #50BEEF;
      }

    #rounded {
        width: 90%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 30px;
        margin-left: 20px;  
        margin-right: 20px;  
    }
}
